


.body1 {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 10px;
}

.body1 {
	background: #efefef;
}
.img1{
    height:100%;
    width: 60%;

}
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.container1 {
	padding: 0 250px;
	min-width: 100px;
}
a
.item-pane {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	max-width: 900px;
	padding: 26px;
	margin: 26px auto;
	background: white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.item-preview {
	margin-right: 26px;
  padding: 26px;
}

.item-preview,
.item-details {
	flex-grow: 1;
    
}

.pane__section {
	padding-top: 26px;
}
.pane__section:not(:last-child) {
  padding-bottom: 26px;
  border-bottom: 1px solid #d4d4d4;
}


.item-price {
	font-family: "Roboto Slab", Roboto, sans-serif;
	font-weight: 1500;
	font-size: 1em;
}

.h1 {
	margin-bottom: 0.4em;
	margin-top: 0.4em;
    color : black;
    font-size: 15px;
}

.subtitle {
	font-family: "Roboto Slab", Roboto, sans-serif;
	font-weight: 300;
	font-size: 1.3em;
}

a {
	color: #0db5db;
}

.item-price__units {
	font-weight: 300;
}

.p {
	line-height: 1.4;
}

.button {
	padding: 0.6em 1em;
	font-weight: 400;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	background: #80db65;
	border-radius: 3px;
  }
  .button:hover {
	background: #5ed13c;
}

dl {
	columns: 2;
	line-height: 1.8em;
	margin: -0.4em 0;
}

dt,
dd {
	display: inline;
}

dt {
	font-weight: 500;

	&:after {
		content: ":";
	}
}

dd {
	&:after {
		content: "";
		display: block;
	}
}

.buy-button {
	float: right;
}


.book {
	$thickness: 35px;

	position: relative;
	width: 216px;
	height: 322px;
	
	transform: rotateX(-15deg) rotateY(30deg);
	transform-style: preserve-3d;

	transition: transform 0.5s;

	&:before {
		content: "";
		position: absolute;
		right: 100%;
		top: 0;
		width: $thickness;
		height: 100%;

		background: darken(#f4d1c4, 5%);
		transform-origin: top right;
		transform: rotateY(-90deg);
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: $thickness;

		background: #f5efdc;
		transform-origin: bottom left;
		transform: rotateX(90deg);
	}

	&:hover {
		transform: rotateX(-10deg) rotateY(20deg);
	}

	&__title {
		margin-bottom: 1em;

		font-weight: 700;
	}

	&__text {
		font-family: Roboto;
		background: hwb(18 9% 52%);
		padding: 20px;
		color: #563323;
	}
}
